*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}


.container{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    padding-top: 20px;
}

header{
    height: calc(10vh - 20px);
    width: 100%;
    background-color: rgb(219, 141, 219);
}

main{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: red;
}

footer{
    width: 100%;
    height: 5vh;
    background-color: rgb(124, 43, 244);
}
